$crimson : rgb(174,31,37);
$pink : rgb(218,158,137);
$hoverpink : rgb(174,31,37);
$leftOffset: 50px;

body {
    position: relative;
    background-color: rgb(220,223,215);
}
#wrapper {
    width: 984px;
    margin: 0px auto;
    background-image: url('images/bkdrop.png');
}
.top {
    margin-top: -10px;
    height: 130px;
}
.selected {
   color: $hoverpink;
   opacity: 1;
}
.reddot {
   opacity: 0.7;
   margin-left: 5px;
   width: 8px;
   height: 8px;
}
.logo {
    padding-top:  37px;
    padding-left: $leftOffset;
    float: left;
    cursor: pointer;
}
.lineseparator {
    height: 12px;
}
.navcontainer {
    float:left;
    margin-top: 108px;
}
#navlist li {
    font-family: "futura-pt-n4","futura-pt",sans-serif;
    font-weight: 500;
    display: inline;
    list-style-type: none;
    padding-right: 50px;
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: 0.7;
}
#navlist li:hover {
    color: $crimson;
    opacity: 1;
}
.scrollText {
    padding-right: 20px;
}
.bigCap {
    font-size: 16px;
}
.tinyfont {
    font-size: 13px;
}
.smallfont {
    font-size: 16px;
}
.mediumfont {
    font-size: 20px;
}
.bigfont {
    font-size: 22px;
}

.middle {
    width: 100%;
    height: 492px;
    overflow: hidden;
}
.light {
   font-weight: 400;
}
.extralight {
  font-weight: 300;
}
.icon {
    padding-top:  12px;
    padding-left: $leftOffset;
    float: left;
}
.carousel {
    padding-right: 5px;
    float: left;
    position: relative;
    top: -4px;
    left: 0px;
}
.middlecaption {
    position: relative;
    top: -21px;
    padding-left: $leftOffset;
}
.middleleftcontent {
    width: 300px;
    position: relative;
    left: 50px;
    top: -200px;
    font-family: "futura-pt-n4","futura-pt",sans-serif;
    font-weight: 500;
}
.middlerightcontent {
    width: 600px;
    position: relative;
    left: 300px;
    top: -346px;
    font-family: "futura-pt-n4","futura-pt",sans-serif;
    color: white;
}
.middlerightcontentcaption {
    margin-top: 8px;
    
}
.homecaption {
    /* letter-spacing: 1px; */
}
.stjohnbold {
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 500; 
}
.servicetime {

}
.parishofficehours {
    margin-top: 10px;
}
.getinvolved {
    margin-top: 22px;
    cursor: pointer;
}
.getinvolved:hover {
    color: $crimson;
}
.donateto {
    margin-top: 6px;
    cursor: pointer;
}
.donateto:hover {
    color: $crimson;
}
.bottom {
    margin-top: -7px;
    height: 130px;
}
.bottomleftcontent {
    padding-top: 23px;
    padding-left: $leftOffset;
    font-family: "futura-pt-n4","futura-pt",sans-serif;
    font-weight: 500;
}
.bottomleftcontent div {
    margin-top: 6px;
}
.rota {
    color: $crimson;
    font-weight: 500;
    cursor: pointer;
    opacity: 0.6;
}
.rota:hover {
    opacity: 1;
}
.bottomrightcontent {
    position: relative;
    left: 300px;
    top: -64px;
    font-family: "futura-pt-n4","futura-pt",sans-serif;
}
.bottomrightcontentcaption1 {
    width: 160px;
    font-weight: 500;
    float: left;
}
.bottomrightcontentcaption2 {
    letter-spacing: 1px;
    width: 230px;
    float: left;
}
.noshow {
    display: none;
}
.carousel img {
    width: 686px;
    height: 275px;
    margin-top: 16px;
}
.noncarousel img {
    padding-top: 12px;
}

#aboutstjohns {
   left: 718px;
   z-index: 100;
   width: 300px;
}
#thewayweworship, #dummy {
   left: 666px;
   z-index: 100;
   width: 300px;
}
#elporvenir {
   left: 636px;
   z-index: 100;
   width: 300px;
}
#julianpantry {
   left: 736px;
   z-index: 100;
   width: 300px;
}
#immigration {
   left: 696px;
   z-index: 100;
   width: 400px;
}
#missiongrads {
   left: 640px;
   z-index: 100;
   width: 300px;
}
.imagetext {
   color: white;
   position: relative;
   top: -36px;
   font-family: "futura-pt-n4","futura-pt",sans-serif;
   font-style: italic;
   opacity: 0.9;
   height: 21px;
}
.clickable, .imagelink {
   cursor: pointer;
}
.imagetextmain {
   font-size: 18px; 
}
.learnmore {
   font-size: 14px; 
   margin-left: 15px;
   position: relative;
   top: -1px;
}

.subsectionnav {
   float: left;
   color: $pink;
   width: 610px;
}
.subsectionnav div {
   float: left;
}
.verticalsep {
   height: 16px;
   border-left: 1px solid $pink;
}
.subsectiontitle {
   color: #fff;
   letter-spacing: 3px;
   font-weight: 500;
   font-size: 20px;
}

/* ABOUT */
#aboutcontent {
   margin-top: -8px;
   color: #000;
   font-weight: 600;
}
#abouthome {
   position: relative;
   top: 184px;
}
.abouttitle {
   margin-bottom: 30px;
}
.aboutmissiontitle {
   position: relative;
   top: -50px;
}
.middlerightabout {
   margin-top: -240px;
   height: 340px;
}
#navabout {
   /* margin-top: 25px; */
   position: relative;
   top: 40px;
}
#navabout>div {
   margin-right: 15px;
   font-weight: 500;
   font-size: 13px;
}
.subsectionnav {
   letter-spacing: 1px;
}
.subsectionnav div:hover {
   color: $hoverpink;
}
.buttonoff {
   background-image: url('images/about_page_button_off.png');
   background-repeat: no-repeat;
   cursor: pointer;
}
.buttonon {
   background-image: url('images/about_page_button_on.png');
   background-repeat: no-repeat;
}
#historyimage {
   position: relative;
   top:  -42px;
   left: -44px;
   width: 700px;
}
.historyimage {
   float: left;
}
.abouthistorytitle {
   position: relative;
   top: -50px;
}
.aboutclergytitle {
   position: relative;
   top: -50px;
}
.aboutlaytitle {
   position: relative;
   top: -50px;
}
.clergy {
   float: left;
   position: relative;
   top: 146px;
}
#clergylink {
   margin-top: 30px;
   color: $pink;
}
#clergylink:hover {
   color: $hoverpink;
}
.lay {
   float: left;
}
.clergytitle {
   font-weight: 500;
}
#leftclergy {
   width: 350px;
}
#rightclergy {
   width: 240px;
}
.clergymembers {
   margin-top: 8px;
   font-size: 14px;
}
.clergymember {
   font-weight: 500;
   margin-bottom: 9px; 
}
.memberemail {
   font-style: italic;
   opacity: 0.5;
}
.membername {
   opacity: 0.8;
   cursor: pointer
}
.membername:hover {
   color: $hoverpink;
   opacity: 1;
}
#leftlay {
   width: 300px;
}
#rightlay {
   width: 300px;
}

/* WORSHIP */
#worshipcontent {
   margin-top: -8px;
   color: #000;
   font-weight: 600;
}
#worshiphome {
   position: relative;
   top: 184px;
}
.worshiptitle {
   margin-bottom: 36px;
}
.worshipworshiptitle {
   position: relative;
   top: -50px;
   margin-bottom: 160px;
}
.middlerightworship {
   margin-top: -240px;
   height: 340px;
}
.worshipmusictitle {
   position: relative;
   top: -50px;
   margin-bottom: 160px;
}
#navworship {
   position: relative;
   top: 40px;
}
#navworship>div {
   margin-right: 15px;
   font-weight: 500;
   font-size: 13px;
}
.baptism {
  padding-top: 10px;
  padding-left: 15px;
  float: right;
}
.organ {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  float: left;
}
.piano {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  float: right;
}
/* MINISTRIES */
#navministries {
   position: relative;
   top: -50px;
}
.middlerightministries {
   height: 440px;
   overflow: hidden;
}
#navministries>div {
   margin-right: 15px;
   font-weight: 500;
   font-size: 13px;
}
#ministriescontent {
   margin-top: -260px;
   color: #000;
   font-weight: 600;
}
#ministrieshome {
   position: relative;
   top: 198px;
}
.ministriestitle {
   margin-bottom: 36px;
}
.ministriesjulianpantrysection {
   position: relative;
   top: -80px;
}
.ministriesjulianpantrytitlemain {
   position: relative;
   top: 42px;
   margin-bottom: 250px;
}

.ministriespeacesection {
   position: relative;
   top: -80px;
}
.ministriespeacetitlemain {
   position: relative;
   top: 42px;
   margin-bottom: 250px;
}

.ministriesjusticesection {
   position: relative;
   top: -80px;
}
.ministriesjusticetitlemain {
   position: relative;
   top: 42px;
   margin-bottom: 250px;
}

.ministrieselporvenirsection {
   position: relative;
   top: -80px;
}
.ministrieselporvenirtitlemain {
   position: relative;
   top: 42px;
   margin-bottom: 250px;
}

.ministriesmissiongradssection {
   position: relative;
   top: -80px;
}
.ministriesmissiongradstitlemain {
   position: relative;
   top: 42px;
   margin-bottom: 250px;
}

/* VISIT */
#visitcontent {
   margin-top: -260px;
   color: #000;
   font-weight: 600;
}
#visithome {
   position: relative;
   top: 198px;
}
.visittitle {
   margin-bottom: 36px;
}
#visitdirections {
   position: relative;
   top: -38px;
}
.visitdirectionstitle {
   margin-bottom: 30px;
}
#visitrentals {
   position: relative;
   top: -38px;
}
.visitrentalstitle {
   margin-bottom: 196px;
}
.middlerightvisit {
    height: 440px;
    overflow: hidden;
}
#navvisit {
   position: relative;
   top: -50px;
}
#navvisit>div {
   margin-right: 15px;
   font-weight: 500;
   font-size: 13px;
}
.mapimage {
   float: left;
   margin-right: 25px;
   cursor: pointer;
}

/* BIOS */
.bio {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    border: 1px solid gray;
    font-family: "futura-pt-n4","futura-pt",sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.bioimage {
   float: left;
   padding-right: 15px;
   padding-bottom: 2px;
}
#richardsmith {
    width: 580px;
    padding-bottom: 20px;
}
#jackiecherry {
    width: 580px;
    padding-bottom: 20px;
}
#jackeastwood {
    width: 580px;
    padding-bottom: 20px;
}
#robertcromey {
    width: 580px;
    padding-bottom: 20px;
}

